---
import DefaultLayout from "@layouts/DefaultLayout.astro"
---

<DefaultLayout title="Eduardo Torres Dávila">
  <div class="flex flex-col h-screen justify-end gap-6">
    <div class="pl-6">
      <h1 class="text-3xl mb-3">Eduardo Torres Dávila</h1>
      <div>
        <i class="fa-brands fa-github mr-2 text-2xl"></i>
        <i class="fa-brands fa-linkedin-in text-2xl"></i>
      </div>
    </div>
    <div class="mx-6">
      <div class="bg-gray-800 rounded p-2">
        <div class="bg-white rounded p-1">
          <a class="rounded" href="mathematics">
            <div class="h-48 rounded bg-gray-800 relative overflow-hidden">
              <h3 class="pl-6 text-2xl">Math</h3>
              <div class="absolute top-0 left-0" id="chart"></div>
            </div>
          </a>
        </div>
      </div>
      <a href="software">
        <div class="h-48 my-6 flex flex-col justify-center text-right bg-green-400">
          <h3 class="pr-6 text-2xl">Software</h3>
        </div>
      </a>
      <a href="data-science">
        <div class="h-48 my-6 flex flex-col justify-center bg-blue-400">
          <h3 class="pl-6 text-2xl">Data</h3>
        </div>
      </a>
    </div>
  </div>
</DefaultLayout>

<script>
  import * as d3 from 'd3';

  const data = [10, 15, 20, 25, 30, 18, 12];

  const width = 1200;
  const height = 200;
  // margin of the actual plot part
  // not margin of figure
  const margin = { top: 0, right: 0, bottom: 0, left: 0 };

  const svg = d3
    .select('#chart')
    .append('svg')
    .attr('width', width)
    .attr('height', height);

  const x = d3
    .scaleLinear()
    .domain([0, data.length - 1])
    .range([margin.left, width - margin.right]);

  const y = d3
    .scaleLinear()
    .domain([0, d3.max(data) ?? 0])
    .range([height - margin.bottom, margin.top]);

  const line = d3
    .line<number>()
    .x((_, i) => x(i))
    .y(d => y(d));

  svg
    .append('path')
    .datum(data)
    .attr('fill', 'none')
    .attr('stroke', 'steelblue')
    .attr('stroke-width', 8)
    .attr('d', line);
</script>
