---
import DefaultLayout from "@layouts/DefaultLayout.astro"
---

<DefaultLayout title="Eduardo Torres Dávila">
  <div class="flex items-center justify-center h-screen">
    <div class="flex gap-12">
      <div class="w-68 h-86 rounded-xl overflow-hidden flex-none">
        <img src="/4-FINAL.jpg" alt="picture of Eduardo"/>
      </div>
      <div class="flex flex-col h-86 justify-between">
        <div class="text-2xl">
          <h1 class="font-display font-semibold text-4xl mb-6">Eduardo Torres Dávila</h1>
          <p>
            I am a
            <a href="mathematics" class="underline decoration-2 text-red">
              mathematician<!--
            --></a>,
            a
            <a href="software" class="underline decoration-2 text-green">
              full-stack software engineer<!--
            --></a>,
            and an aspiring
            <a href="data-science" class="underline decoration-2 text-blue">
              data scientist<!--
            --></a>.
          </p>
        </div>
        <div class="text-3xl">
          <a href="https://github.com/etdavila10" class="hover:text-blue"><i class="fa-brands fa-github mr-3"></i></a>
          <a href="https://www.linkedin.com/in/etorres10/" class="hover:text-blue"><i class="fa-brands fa-linkedin-in mr-3"></i></a>
          <p class="text-lg">
            Emails welcome to
            <a class="underline decoration-2 text-blue" href="mailto:etdavila10@gmail.com">etdavila10@gmail.com</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
