---
import DefaultLayout from "@layouts/DefaultLayout.astro"
---

<DefaultLayout title="Eduardo Torres Dávila">
  <div class="h-screen flex items-center">
    <ul class="m-auto text-center grid grid-cols-1 grid-rows-4 gap-6">
      <li class="border-1 rounded-xl w-32 h-32 flex items-center justify-center"><a>About Me</a></li>
      <li class="border-1 rounded-xl w-32 h-32 flex items-center justify-center"><a>Mathematics</a></li>
      <li class="border-1 rounded-xl w-32 h-32 flex items-center justify-center"><a>Software</a></li>
      <li class="border-1 rounded-xl w-32 h-32 flex items-center justify-center"><a>Data Science</a></li>
    </ul>
  </div>
  <div class="absolute bottom-0 flex items-center">
    <h1 class="py-3 px-6 border rounded-full">Eduardo Torres Dávila</h1>
    <a><i class="fa-brands fa-github"></i></a>
  </div>
</DefaultLayout>
