---
import DefaultLayout from "@layouts/DefaultLayout.astro"
import Footer from "@components/Footer.astro"
---

<DefaultLayout title="Eduardo Torres Dávila: Software">
  <div class="mt-24 mb-12">
    <div class="flex items-center justify-between">
      <h1 class="text-green text-4xl font-display">Software</h1>
      <div class="gap-6 flex">
        <a href="/">
          <i class="fa-solid fa-house hover:opacity-70"></i>
        </a>
        <a href="mathematics">
          <i class="fa-solid fa-plus hover:text-red"></i>
        </a>
        <a>
          <i class="fa-solid fa-code text-green"></i>
        </a>
        <a href="data-science">
          <i class="fa-solid fa-database hover:text-blue"></i>
        </a>
      </div>
    </div>
  </div>
  <p class="mb-3 indent-4">
    I enjoy exploring new technologies and applying them to both mathematical
    research and web development. Over the years, I’ve gravitated toward
    Python, JavaScript, and Java, gaining hands-on experience with libraries
    and frameworks like Matplotlib, NumPy, React, and Spring. I'm always eager
    to learn new tools and deepen my understanding of emerging technologies.
  </p>
  <p class="mb-3 indent-4">
    In the summer of 2023, I interned as a Software Development Engineer at
    Amazon, where I helped build dashboards for our <a class="text-green
      underline decoration-2" href="https://logistics.amazon.com/">Amazon
      Delivery Service Partners</a>. This experience gave me hands-on exposure
    to full-stack web development. I used AWS services like <a
      class="text-green underline decoration-2"
      href="https://aws.amazon.com/dynamodb/">DynamoDB</a>, <a
      class="text-green underline decoration-2"
      href="https://aws.amazon.com/s3/">S3</a>, and <a class="text-green
      underline decoration-2" href="https://aws.amazon.com/lambda/">Lambda</a>
    to process large datasets; developed backend endpoints in <a
      class="underline decoration-2 text-green"
      href="https://www.java.com/en/">Java</a>; and built a responsive frontend
    dashboard with <a class="underline decoration-2 text-green"
      href="https://react.dev/">React</a>.
  </p>
  <p class="mb-12 indent-4">
    Below you will find my most recent project. You can find a full
    list of projects
    <a class="underline decoration-2 text-green" href="projects">here</a>.
  </p>
  <hr class="w-64 m-auto mb-12">
  <Footer />
</DefaultLayout>
