---
const d = new Date();
let year = d.getFullYear();
---

<hr class="w-max-200 m-auto">
<footer class="p-12 flex-col flex items-center text-lg text-center font-display">
  <div>
    <p>&copy; {year}, Eduardo Torres Dávila</p>
  </div>
  <div class="text-lg">
    <span>Last update:</span>
    <span id="git-last-commit-date">07/24/2025</span>
  </div>
</footer>
